<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kpg.flatter">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:name=".core.application.FlatterCore"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.SignupActivity"
            android:theme="@style/AllWhite">

        </activity>

        <activity
            android:name=".activities.ConfigureProfileActivity"
            android:theme="@style/AllWhite">

        </activity>

        <activity android:name=".activities.MainView"
            android:theme="@style/AllWhite">
        </activity>


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="d75c07873cc7ef98414b4efac4081f6f56617712"/>

    </application>

</manifest>